.home {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.home .video-poster,
.home video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
}