.document {
    margin: 70px 30px 0 80px;
}

.document .content-left {
    width: 80%;
    min-width: 700px;
    min-height: 500px;
    float: left;
    /*background: yellow;*/
}

.document .content-right {
    width: 20%;
    min-width: 180px;
    min-height: 500px;
    /*background: green;*/
    float: right;
    font-size: 13px;
    position: relative;
    z-index: 10;
}

.document .content-right > ul {
    position: fixed;
    top: 100px;
    right: 30px;
}

.document .content-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.document .content-right > ul > li > a {
    color: #353535;
    font-weight: bold;
}

.document .content-right a {
    color: #7B838A;
}

.document .content-right > ul > li > ul > li.active a {
    color: #259dff;
}

.document .content-right > ul ul {
    display: none;
}

.document .content-right > ul li.active ul {
    display: block;
}

.document h1 ~ h2,
.document h1 {
    padding-top: 50px;
    margin-top: 50px;
    position: relative;
}

.document h1 {
    padding-top: 80px;
    margin-top: 35px;
}

.document h1 ~ h2:before,
.document h1:before {
    content: '';
    background: url('../img/hr.png') top left no-repeat;
    position: absolute;
    top: -5px;
    height: 19px;
    left: -70px;
    right: 0;
}

.document p code {
    background: #f8f8f8;
    border: 1px solid #eaeaea;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 0.85em;
    padding: 2px 8px;
    border-radius: 3px;
}

.document pre {
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px 0 #eee;
    border-radius: 3px;
    font-size: 12px;
}

.document pre code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 1.1em;
    width: 100%;
    overflow: auto;
}

.document table ~ pre {
    margin-top: 40px;
}

.document .go-top {
    background: black;
    -webkit-border-radius: 2px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-decoration: none;
    color: white;
    opacity: 0.2;
    -webkit-transition: opacity 300ms;
    width: 24px;
    height: 21px;
    cursor: pointer;
}

.document .go-top:hover {
    opacity: 1;
}

.document .go-top .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #FFF;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -5px;
}