.document {
    margin: 100px 30px 0 80px;
}

.document .content-left {
    width: 80%;
    min-width: 700px;
    min-height: 500px;
    float: left;
    /*background: yellow;*/
}

.document .content-right {
    width: 20%;
    min-width: 180px;
    min-height: 500px;
    /*background: green;*/
    float: right;
    font-size: 13px;
    position: relative;
    z-index: 10;
}

.document .content-right > ul {
    position: fixed;
    right: 30px;
}

.document .content-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.document .content-right > ul > li > a {
    color: #353535;
    font-weight: bold;
}

.document .content-right a {
    color: #7B838A;
}

.document .content-right > ul > li > ul > li.active a {
    color: #259dff;
}

.document .content-right > ul ul {
    display: none;
}

.document .content-right > ul li.active ul {
    display: block;
}

.document section {
    margin-top: 100px;
}

.document section:first-child {
    margin-top: 0;
}

.document h1 ~ h2 {
    padding-top: 50px;
    margin-top: 50px;
    position: relative;
}

.document h1 ~ h2:before {
    content: '';
    background: url('../img/hr.png') top left no-repeat;
    position: absolute;
    top: 0;
    height: 19px;
    left: -70px;
    right: 0;
}

.document p code {
    background: #f8f8f8;
    border: 1px solid #eaeaea;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 0.85em;
    padding: 2px 8px;
    border-radius: 3px;
}

.document pre {
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px 0 #eee;
    border-radius: 3px;
    font-size: 12px;
}

.document pre code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 1.1em;
}
