h1 {
    font-size: 1.8em;
    line-height: 0.8em;
    margin-bottom: 0.8em;
}

h2 {
    font-size: 1.4em;
    line-height: 1em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.09em;
    margin-bottom: 1.09em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.33em;
    margin-bottom: 1.33em;
}

h5 {
    font-size: 1.05em;
    line-height: 1.33em;
    margin-bottom: 1.33em;
}

h1, h2, h3, h4 {
    color: #111;
    font-weight: bold;
}

p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
}

strong {
    color: #444;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 10px 0;
}