body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #777;
    font-size: 14px;
}

a, a:visited {
    color: #259dff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}