.app-header {
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #FFF;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

.scroll .app-header {
    border-bottom: 1px solid #DDD;
    box-shadow: 0 0 4px #EEE;
}

.app-header .spoon-logo {
    color: #353535;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    position: absolute;
    left: 25px;
    -webkit-font-smoothing: antialiased;
    line-height: 55px;
    height: 55px;
}

.app-header ul {
    position: absolute;
    right: 30px;
    list-style: none;
    line-height: 55px;
    margin: 0;
}

.app-header li {
    float: left;
    padding: 0 15px;
    font-size: 12px;
    position: relative;
}

.app-header li a {
    color: #7B838A;
}

.app-header li.active a {
    font-weight: bold;
    color: #353535;
}

.app-header li:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    height: 17px;
    margin-top: -8px;
    width: 1px;
    background: #EEE;
}

.app-header li:last-child {
    padding-right: 0;

}
.app-header li:last-child:after {
    content: none;
}

@media (max-width: 680px) {
    .app-header .spoon-logo {
        font-size: 18px;
    }
}
